<p>Commits:</p>
  <table>
    <thead>
      <tr>
        <th>Repository</th>
        <th>Authod</th>
        <th>Commit Message</th>
      </tr>
    </thead>
    <tbody>
    <% current_user.commits_by_repo.each do |repo| %>
      <tr>
        <% if repo.keys.first %>
         <td><%= repo.keys.first %></td>
        <% end %>
        <% repo.values.each do |commit| %>
          <td><%= commit[:author][:name] %></td>
          <td><%= commit[:message] %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
